@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Text"] = "This is a simple C# application with CRUD actions for Students"; // in case you want to present the text via @ViewData
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple C# application with Razor Pages and CRUD actions for Students</p>
    @*<p>@ViewData["Text"]</p>*@
</div>
